$bg-header: #333333;
$hover-link: #af0e00;

$main-font-family: 'ZCOOL QingKe HuangYou', cursive;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5vw;
    background-color: $bg-header;
}

/* main-logo */
.main-logo {
    font-size: 28px;

    &__link {
        font-family: $main-font-family;
        color: #ffffff;
        text-decoration: none;
        &:hover {
            color: $hover-link;
        }
    }
}

/* main-navigation */

.nav {
    display: flex;
}

.main-navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
    @media #{$small-only} {
        display: none;
    }

    &__item {
        margin: 0 15px;
    }

    &__link {
        display: block;
        position: relative;
        font-family: $main-font-family;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $hover-link;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 0%;
            height: 3px;
            color: #fce38a;
            background-color: $hover-link;
            transition: 0.3s;
        }

        &:hover::after {
            width: 100%;
        }
    }
      &--show{
        @media #{$small-only} {
            display: flex;
            flex-direction: column;
        }
    }
}

/* hamburger */
.hamburger {
    @media #{$small-only} {
        position: relative;
        width: 40px;
        height: 40px;
        margin-top: 5px;
        margin-left: 5PX;
        background: none;
        border: none;

        &__element,
        &__element::before,
        &__element::after{
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -1px;
            width: 100%;
            height: 4px;
            background-color: #fff;
            transition: 0.5s;
        }

        &__element{

            &::before,
            &::after {
                content: '';
                display: block;
            }

            &::before {
            transform: translateY(-12px);
            }

            &::after {
                transform: translateY(10px);
            }

            &--active {
                background-color: transparent;

                &::before {
                    transform: translateY(-6px);
                    transform: rotate(35deg);
                    background-color: $hover-link;
                }

                &::after {
                    transform: translateY(6px);
                    transform: rotate(-35deg);
                    background-color: $hover-link;
                }
            }
        }
    }
}







.footer {
    margin-top: 20px;
    background: $bg-header;
    padding: 1vh 0;
    font-family: $main-font-family;
    font-size: 1.2rem;
    color: $white;
    display: flex;
    justify-content: center;
    
    p {
        margin: 0;
    }
}